<!DOCTYPE html>
<html>
<head>
    <title>DeepFake Detection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="glass">

    <h1>DeepFake Detection System</h1>

    <!-- Hidden file input -->
    <input type="file" id="videoInput" accept="video/*" hidden>

    <!-- Choose Button -->
    <button id="chooseBtn">Choose Video</button>

    <!-- File Name Display -->
    <p id="fileName">No file selected</p>

    <!-- Drag & Drop Area -->
    <div id="dropArea" class="dropArea">
        Drag & Drop Video Here
    </div>

    <!-- Analyze Button -->
    <button onclick="uploadVideo()">Analyze</button>

    <!-- Loader -->
    <div id="loader" class="spinner hidden"></div>

    <!-- Result -->
    <div id="result" class="resultBox"></div>

</div>

<script src="/static/script.js"></script>
</body>
</html>