<!DOCTYPE html>
<html>
<head>
    <title>DeepFake Detection System</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="glass">

    <h1>DeepFake Detection System</h1>

    <!-- Hidden File Input -->
    <input type="file" id="videoInput" hidden>

    <!-- Drag & Drop Area -->
    <div id="dropArea" class="dropArea">
        Drag & Drop Video Here
        <br><br>
        <button onclick="selectFile()">Choose Video</button>
    </div>

    <button class="analyzeBtn" onclick="uploadVideo()">Analyze</button>

    <!-- Progress Bar -->
    <div id="progressContainer" class="progressContainer hidden">
        <div id="progressBar" class="progressBar"></div>
    </div>

    <div id="result"></div>

    <canvas id="chartCanvas"></canvas>

</div>

<script src="/static/script.js"></script>

</body>
</html>