/* Background */

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364);
    background-size: 400% 400%;
    animation: gradientBG 12s ease infinite;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animated Background */
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Glass Card */
.glass {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(18px);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 420px;
    color: white;
    box-shadow: 0 0 40px rgba(0,0,0,0.4);
    animation: fadeIn 1.2s ease-in-out;
}

/* Fade animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Buttons */
button {
    padding: 12px 25px;
    margin-top: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00c6ff;
}

/* Drag Area */
.dropArea {
    border: 2px dashed rgba(255,255,255,0.6);
    padding: 25px;
    margin-top: 15px;
    border-radius: 15px;
    transition: 0.3s;
}

.dropArea.hover {
    border-color: #00ffcc;
    box-shadow: 0 0 15px #00ffcc;
}

/* File name */
#fileName {
    font-size: 14px;
    margin-top: 10px;
    opacity: 0.8;
}

/* Loader */
.spinner {
    margin: 20px auto;
    width: 45px;
    height: 45px;
    border: 4px solid rgba(255,255,255,0.3);
    border-top: 4px solid #00ffcc;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

/* Result Box */
.resultBox {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
}

/* Fake Result */
.fake {
    color: #ff4d4d;
    text-shadow: 0 0 15px #ff0000;
}

/* Real Result */
.real {
    color: #00ff99;
    text-shadow: 0 0 15px #00ff99;
}

/* Progress Bar */
.progress-container {
    width: 100%;
    height: 8px;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    margin-top: 15px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: #00ffcc;
    border-radius: 10px;
    transition: width 0.3s ease;
}

/* Border Glow */
.fake-border {
    box-shadow: 0 0 30px #ff0000;
}

.real-border {
    box-shadow: 0 0 30px #00ff99;
}

/* Light Mode */
.light-mode {
    background: #f4f4f4 !important;
}

.light-mode .glass {
    background: rgba(0,0,0,0.05);
    color: black;
}