body
{
margin:0;

background:url("/static/bg.jpg") center/cover no-repeat;

font-family:Arial;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

color:white;
}


.glass
{
background:rgba(255,255,255,0.1);

padding:30px;

border-radius:15px;

backdrop-filter:blur(15px);

text-align:center;
}


button
{
padding:10px 20px;
margin-top:10px;
cursor:pointer;
}


.hidden
{
display:none;
}


.progress-bar
{
width:300px;
height:10px;

background:#444;

margin:auto;

border-radius:5px;

overflow:hidden;
}


.progress-fill
{
width:100%;

height:100%;

background:linear-gradient(90deg, red, green);

animation:progress 2s infinite;
}


@keyframes progress
{
0%{transform:translateX(-100%)}
100%{transform:translateX(100%)}
}


#dropZone
{
border:2px dashed white;

padding:20px;

margin-top:10px;

border-radius:10px;
}