body {

background: url('/static/bg.jpg') no-repeat center center fixed;
background-size: cover;

font-family: Arial;
color: white;

}

.container {

width: 600px;
margin: 100px auto;
padding: 30px;

}

.glass {

background: rgba(255,255,255,0.1);

backdrop-filter: blur(15px);

border-radius: 15px;

box-shadow: 0 0 40px rgba(0,0,0,0.5);

}

button {

padding: 10px;
margin-top: 20px;

}

.hidden {

display:none;

}

#frames img {

width: 100px;
margin: 5px;

}